src/reminders/create-geofence-reminder.json
[{"id":"542041fd.5e0c2","type":"subflow","name":"logging","info":"","in":[{"x":60,"y":100,"wires":[{"id":"12be6b88.4e9154"}]}],"out":[{"x":608,"y":102,"wires":[{"id":"542041fd.5e0c2","port":0}]}]},{"id":"85857cec.668d68","type":"file","z":"542041fd.5e0c2","name":"write log entry","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":462,"y":208,"wires":[]},{"id":"12be6b88.4e9154","type":"function","z":"542041fd.5e0c2","name":"prepare log entry","func":"/* \n * configure logging\n */\nvar logging = true;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nreturn [timestamp, logMessage];","outputs":"2","noerr":0,"x":232,"y":173,"wires":[["dd3e0827.a64b08"],["85857cec.668d68"]]},{"id":"dd3e0827.a64b08","type":"file","z":"542041fd.5e0c2","name":"log timestamp","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":460,"y":144,"wires":[]},{"id":"5e9d5e83.859e88","type":"subflow","name":"error handling","info":"","in":[{"x":45,"y":169,"wires":[{"id":"b0d3c636.a613b8"}]}],"out":[{"x":723,"y":169,"wires":[{"id":"211bab03.ccf144","port":0},{"id":"b0d3c636.a613b8","port":1}]},{"x":723,"y":226,"wires":[{"id":"b0d3c636.a613b8","port":2}]}]},{"id":"b0d3c636.a613b8","type":"function","z":"5e9d5e83.859e88","name":"check","func":"/* check HTTP response code */\nif (msg.statusCode === 200) {\n    var responseOk = msg;\n    \n    responseOk.req = msg.req;\n    responseOk.res = msg.res;\n    \n    /* check whether payload is filled */\n    if (responseOk.payload !== \"\") {\n        return[responseOk, null, null];\n    } else {\n        /* Since a JSON object cannot be created from\n           an empty string, the message is passed on to\n           terminal two.\n        */\n        responseOk.req = msg.req;\n        responseOk.res = msg.res;\n        \n        return[null, responseOk, null];\n    }\n} else {\n    var responseError = {\n        \"statusCode\":msg.statusCode\n    };\n\n    responseError.payload = {\n        \"function\":global.get(\"function\"),\n        \"message\":msg.payload\n    };\n\n    responseError.req = msg.req;\n    responseError.res = msg.res;\n    \n    return[null, null, responseError];\n}","outputs":"3","noerr":0,"x":171,"y":168,"wires":[["211bab03.ccf144"],["2a277d3.2103602"],[]]},{"id":"2a277d3.2103602","type":"subflow:542041fd.5e0c2","z":"5e9d5e83.859e88","name":"","x":526,"y":141.5,"wires":[[]]},{"id":"211bab03.ccf144","type":"json","z":"5e9d5e83.859e88","name":"","x":340,"y":66,"wires":[["2a277d3.2103602"]]},{"id":"542041fd.5e0c2","type":"subflow","name":"logging","info":"","in":[{"x":60,"y":100,"wires":[{"id":"12be6b88.4e9154"}]}],"out":[{"x":608,"y":102,"wires":[{"id":"542041fd.5e0c2","port":0}]}]},{"id":"85857cec.668d68","type":"file","z":"542041fd.5e0c2","name":"write log entry","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":462,"y":208,"wires":[]},{"id":"12be6b88.4e9154","type":"function","z":"542041fd.5e0c2","name":"prepare log entry","func":"/* \n * configure logging\n */\nvar logging = true;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nreturn [timestamp, logMessage];","outputs":"2","noerr":0,"x":232,"y":173,"wires":[["dd3e0827.a64b08"],["85857cec.668d68"]]},{"id":"dd3e0827.a64b08","type":"file","z":"542041fd.5e0c2","name":"log timestamp","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":460,"y":144,"wires":[]},{"id":"81f94113.1ced2","type":"http in","z":"6c6660f1.368a48","name":"reminder request","url":"/reminders","method":"post","swaggerDoc":"","x":180,"y":140,"wires":[["9c97e0b9.7915b8"]]},{"id":"c4ee6b38.69c55","type":"function","z":"6c6660f1.368a48","name":"prepare iCloud login request","func":"global.set(\"function\", \"login\");\n\nvar loginMsg = {};\n\n/* HTTP header */\nloginMsg.headers = {\n    \"origin\":\"https://www.icloud.com\"\n};\n\n/* payload */\nloginMsg.payload = {\n    \"apple_id\":msg.payload.appleId,\n    \"password\":msg.payload.password,\n    \"extended_login\":false\n};\n\nloginMsg.req = msg.req;\nloginMsg.res = msg.res;\n\nreturn loginMsg;","outputs":1,"noerr":0,"x":220,"y":460,"wires":[["733b2ddb.c6e9fc"]]},{"id":"dde69759.9f9388","type":"http request","z":"6c6660f1.368a48","name":"iCloud login","method":"POST","ret":"txt","url":"https://setup.icloud.com/setup/ws/1/login","x":170,"y":520,"wires":[["4b0932d.2283b4c"]]},{"id":"7071bce0.29710c","type":"function","z":"6c6660f1.368a48","name":"prepare reminder request","func":"global.set(\"function\", \"create\");\n\n/* function to generate guid */\nfunction generateGuid() {\n    var guid = \"\";\n\n    for (var i = 0; i < 32; i++) {\n        if (i === 8 || i === 12 || i === 16 || i === 20) {\n            guid += \"-\"\n        }\n\n        guid += Math.floor(Math.random()*0xF).toString(0xF);\n    }\n\n    return guid;\n}\n\n/* get guid of list by given name */\nvar lists = msg.payload.Collections;\nvar list = {};\nvar k;\nfor (k in lists) {\n    list = lists[k];\n\n    if (list.title === flow.get(\"reminderList\")) {\n        break;\n    }\n    \n    /* If the list you wanted to add the reminder to does not\n     * exist, the reminder is put on one of the existing lists.\n     */\n}\n\n/* create URL */\nvar url = flow.get(\"remindersurl\") +\n        \"/rd/reminders/\" +\n        list.guid +\n        \"?\" +\n        \"usertz=Europe/Berlin\" +\n        \"&lang=\" + flow.get(\"languageCode\") +\n        \"&dsid=\" + flow.get(\"dsid\");\n\n/* set URL */\nvar reminderRequest = {\"url\":url};\n\n/* HTTP header */\nreminderRequest.headers = {\n    \"origin\":\"https://www.icloud.com\",\n    \"cookie\":flow.get(\"sessionCookie\")\n};\n\n/* payload */\nreminderRequest.payload = {\"Reminders\": {\n   \"guid\": generateGuid(),\n   \"pGuid\": list.guid,\n   \"etag\": \"C=42@U=\" + generateGuid(),\n   \"createdDateExtended\": 475847804,\n   \"completedDate\": null,\n   \"order\": 475847804,\n   \"title\": flow.get(\"title\"),\n   \"description\": flow.get(\"description\"),\n   \"dueDate\": null,\n   \"dueDateIsAllDay\": false,\n   \"startDate\": null,\n   \"startDateIsAllDay\": false,\n   \"startDateTz\": null,\n   \"recurrence\": null,\n   \"alarms\": [{\n      \"messageType\":\"message\",\n      \"onDate\": null,\n\t \"measurement\": null,\n      \"description\": \"Reminder\",\n      \"guid\": generateGuid(),\n      \"isLocationBased\": true,\n      \"proximity\": flow.get(\"proximity\"),\n      \"structuredLocation\":       {\n         \"address\": flow.get(\"address\"),\n         \"latitude\": flow.get(\"latitude\"),\n         \"longitude\": flow.get(\"longitude\"),\n         \"locationName\": flow.get(\"locationName\")\n      }\n   }]\n}};\n\n/* map priority values */\nif (flow.get(\"priority\") == \"1\") {\n    reminderRequest.payload.Reminders.priority = 1;\n} else if (flow.get(\"priority\") == \"2\") {\n    reminderRequest.payload.Reminders.priority = 5;\n} else if (flow.get(\"priority\") == \"3\") {\n    reminderRequest.payload.Reminders.priority = 9;\n}\n\nreminderRequest.req = msg.req;\nreminderRequest.res = msg.res;\n\nreturn reminderRequest;","outputs":1,"noerr":0,"x":210,"y":980,"wires":[["971795d8.683af"]]},{"id":"117e9810.3c6f2","type":"http request","z":"6c6660f1.368a48","name":"iCloud create reminder","method":"POST","ret":"txt","url":"","x":210,"y":1040,"wires":[["aaf80dca.30bf6"]]},{"id":"42bc8e14.10a068","type":"function","z":"6c6660f1.368a48","name":"prepare logout request","func":"global.set(\"function\", \"logout\");\n\nvar logoutRequest = {};\nlogoutRequest.payload = {};\n\n/* HTTP header */\nlogoutRequest.headers = {\n    \"Origin\":\"https://www.icloud.com\",\n    \"cookie\":flow.get(\"sessionCookie\")\n};\n\nlogoutRequest.req = msg.req;\nlogoutRequest.res = msg.res;\n\nreturn logoutRequest;","outputs":1,"noerr":0,"x":210,"y":1260,"wires":[["3cf80d89.197a6a"]]},{"id":"23aee16d.e554ce","type":"http request","z":"6c6660f1.368a48","name":"iCloud logout","method":"POST","ret":"txt","url":"https://setup.icloud.com/setup/ws/1/logout","x":180,"y":1320,"wires":[["b60d50b5.86d9d8"]]},{"id":"4a7b880a.7e2328","type":"http response","z":"6c6660f1.368a48","name":"reminder response","x":810,"y":1520,"wires":[]},{"id":"2cfd0bbc.d96624","type":"function","z":"6c6660f1.368a48","name":"prepare reminder response","func":"global.set(\"function\", \"reminder response\");\n\nmsg.req = msg.req;\nmsg.res = msg.res;\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":1520,"wires":[["93460ce.91965f"]]},{"id":"766dbc0a.30dc24","type":"subflow:542041fd.5e0c2","z":"6c6660f1.368a48","name":"","x":160,"y":260,"wires":[["c4ee6b38.69c55"]]},{"id":"733b2ddb.c6e9fc","type":"subflow:542041fd.5e0c2","z":"6c6660f1.368a48","name":"","x":500,"y":460,"wires":[["dde69759.9f9388"]]},{"id":"971795d8.683af","type":"subflow:542041fd.5e0c2","z":"6c6660f1.368a48","name":"","x":500,"y":980,"wires":[["117e9810.3c6f2"]]},{"id":"3cf80d89.197a6a","type":"subflow:542041fd.5e0c2","z":"6c6660f1.368a48","x":500,"y":1260,"wires":[["23aee16d.e554ce"]]},{"id":"93460ce.91965f","type":"subflow:542041fd.5e0c2","z":"6c6660f1.368a48","x":500,"y":1520,"wires":[["4a7b880a.7e2328"]]},{"id":"4b0932d.2283b4c","type":"subflow:5e9d5e83.859e88","z":"6c6660f1.368a48","name":"","x":520,"y":520,"wires":[["c2dba09a.ea6ab"],["4a7b880a.7e2328"]]},{"id":"aaf80dca.30bf6","type":"subflow:5e9d5e83.859e88","z":"6c6660f1.368a48","name":"","x":520,"y":1040,"wires":[["42bc8e14.10a068"],["4a7b880a.7e2328"]]},{"id":"b60d50b5.86d9d8","type":"subflow:5e9d5e83.859e88","z":"6c6660f1.368a48","name":"","x":520,"y":1320,"wires":[["2cfd0bbc.d96624"],["4a7b880a.7e2328"]]},{"id":"9c97e0b9.7915b8","type":"function","z":"6c6660f1.368a48","name":"save input to context","func":"global.set(\"function\", \"reminder request\");\n\n/* save input to context */\nflow.set(\"appleId\", msg.payload.appleId);\nflow.set(\"password\", msg.payload.password);\nflow.set(\"reminderList\", msg.payload.reminderList);\nflow.set(\"priority\", msg.payload.priority);\nflow.set(\"title\", msg.payload.title);\nflow.set(\"description\", msg.payload.description);\nflow.set(\"proximity\", msg.payload.proximity);\nflow.set(\"address\", msg.payload.address);\nflow.set(\"locationName\", msg.payload.locationName);\nflow.set(\"latitude\", msg.payload.latitude);\nflow.set(\"longitude\", msg.payload.longitude);\nflow.set(\"alarm\", msg.payload.alarm);\n\nmsg.req = msg.req;\nmsg.res = msg.res;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":200,"wires":[["766dbc0a.30dc24"]]},{"id":"c2dba09a.ea6ab","type":"function","z":"6c6660f1.368a48","name":"prepare startup request","func":"global.set(\"function\", \"startup\");\n\n/* get all cookies from the login response */\nvar cookies = msg.headers[\"set-cookie\"];\nvar sessionCookie = \"\";\nvar k;\n\nfor (k in cookies) {\n    sessionCookie += cookies[k].substring(0, cookies[k].indexOf(\";\") + 1);\n}\n\nsessionCookie = sessionCookie.substring(0, sessionCookie.lastIndexOf(\";\"));\n/* get all cookies from login response - end */\n\n/* store property values of the login response */\nflow.set(\"remindersurl\", msg.payload.webservices.reminders.url);\nflow.set(\"languageCode\", msg.payload.dsInfo.languageCode);\nflow.set(\"dsid\", msg.payload.dsInfo.dsid);\nflow.set(\"sessionCookie\", sessionCookie);\n\n/* create URL */\nvar url = flow.get(\"remindersurl\") +\n        \"/rd/startup\" +\n        \"?\" +\n        \"usertz=Europe/London\" + /* TODO: set actual user time zone */\n        \"&lang=\" + msg.payload.dsInfo.languageCode +\n        \"&dsid=\" + msg.payload.dsInfo.dsid;\n\n/* set URL */\nvar startupRequest = {\"url\":url};\n\n/* HTTP header */\nstartupRequest.headers = {\n    \"origin\":\"https://www.icloud.com\",\n    \"cookie\":flow.get(\"sessionCookie\")\n};\n\nstartupRequest.req = msg.req;\nstartupRequest.res = msg.res;\n\nreturn startupRequest;","outputs":1,"noerr":0,"x":210,"y":720,"wires":[["2cda4054.ea56f"]]},{"id":"2cda4054.ea56f","type":"subflow:542041fd.5e0c2","z":"6c6660f1.368a48","name":"","x":500,"y":720,"wires":[["a8994aba.5ba8d"]]},{"id":"a8994aba.5ba8d","type":"http request","z":"6c6660f1.368a48","name":"iCloud startup","method":"GET","ret":"txt","url":"","x":180,"y":780,"wires":[["1024f357.737b7d"]]},{"id":"1024f357.737b7d","type":"subflow:5e9d5e83.859e88","z":"6c6660f1.368a48","name":"","x":520,"y":780,"wires":[["7071bce0.29710c"],["4a7b880a.7e2328"]]},{"id":"b0716f0f.b1ce58","type":"comment","z":"6c6660f1.368a48","name":"iCloud login","info":"-prepares the message for logging into the iCloud account\n-sends the login message to the iCloud service","x":170,"y":400,"wires":[]},{"id":"a7ff9634.a33fd8","type":"comment","z":"6c6660f1.368a48","name":"iCloud startup","info":"-prepares the message for retrieving values from the iCloud account, e.g.\n the names und guids of the existing reminder lists\n-sends the startup message to the iCloud service","x":170,"y":660,"wires":[]},{"id":"470b9a76.eaadb4","type":"comment","z":"6c6660f1.368a48","name":"iCloud create","info":"-prepares the message to create a geofence reminder\n-sends the creation message to the iCloud service","x":170,"y":920,"wires":[]},{"id":"e662d7b2.7ceef8","type":"comment","z":"6c6660f1.368a48","name":"iCloud logout","info":"-logs out from the iCloud account","x":170,"y":1200,"wires":[]},{"id":"c73c7ea2.917908","type":"comment","z":"6c6660f1.368a48","name":"output","info":"-prepares the output of the service\n-currently, the result of the last operation is returned","x":150,"y":1460,"wires":[]},{"id":"d908124c.1eeff","type":"comment","z":"6c6660f1.368a48","name":"input","info":"receives the input message\n\nThe following message is an example for an input message:\n\n{\n\"appleId\":\"\",\n\"password\":\"\",\n\"reminderList\":\"Reminders\",\n\"priority\":1,\n\"title\":\"Get a birthday present for Lisa\",\n\"description\":\"Call Robert to ask what Lisa likes.\",\n\"proximity\":\"ARRIVE\",\n\"address\":\"Harrods, 87-135 Brompton Road, London SW1X 7XL\",\n\"locationName\":\"Harrods\",\n\"latitude\":\"51.4992917\",\n\"longitude\":\"-0.162811\",\n\"alarm\":\"2017-01-01T00:00:00\"\n}","x":150,"y":80,"wires":[]}]