src/reminders/getReminderLists.json
[
    {
        "id": "747253ec.210a54",
        "type": "subflow",
        "name": "logging",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "f2abfe1d.5032a"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "f2abfe1d.5032a",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* configure logging */\nvar logging = false;\nvar filename = '/home/hendrik/node-red-icloud';\n/* define properties which values should not be logged as plaintext */\nvar list = ['appleId', 'apple_id', 'password'];\n\nif (!logging) {\n    return;\n}\n\n/* function to replace plaintext\n   The list contains elements which should be replaced. */\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== 'undefined' && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = 'xxx';\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar logEntry = '';\n\nif (!msg.ldm &&\n    !msg.ldm.process) {\n    logEntry = new Date().toISOString() +\n                ' ' +\n                JSON.stringify(msg.ldm.process);    \n}\n\n\nvar logMessage = {\n    \"filename\": filename,\n    \"payload\": logEntry\n};\n\nreturn logMessage;",
        "outputs": "1",
        "noerr": 0,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "22800233.236c8e"
            ]
        ]
    },
    {
        "id": "22800233.236c8e",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "4da1c51b.eea26c",
        "type": "catch",
        "z": "747253ec.210a54",
        "name": "",
        "scope": null,
        "x": 100,
        "y": 140,
        "wires": [
            [
                "ba779ebf.906ad"
            ]
        ]
    },
    {
        "id": "ba779ebf.906ad",
        "type": "debug",
        "z": "747253ec.210a54",
        "name": "log error",
        "active": true,
        "console": "true",
        "complete": "error",
        "x": 310,
        "y": 140,
        "wires": []
    },
    {
        "id": "747253ec.210a54",
        "type": "subflow",
        "name": "logging",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "f2abfe1d.5032a"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "f2abfe1d.5032a",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* configure logging */\nvar logging = false;\nvar filename = '/home/hendrik/node-red-icloud';\n/* define properties which values should not be logged as plaintext */\nvar list = ['appleId', 'apple_id', 'password'];\n\nif (!logging) {\n    return;\n}\n\n/* function to replace plaintext\n   The list contains elements which should be replaced. */\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== 'undefined' && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = 'xxx';\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar logEntry = '';\n\nif (!msg.ldm &&\n    !msg.ldm.process) {\n    logEntry = new Date().toISOString() +\n                ' ' +\n                JSON.stringify(msg.ldm.process);    \n}\n\n\nvar logMessage = {\n    \"filename\": filename,\n    \"payload\": logEntry\n};\n\nreturn logMessage;",
        "outputs": "1",
        "noerr": 0,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "22800233.236c8e"
            ]
        ]
    },
    {
        "id": "22800233.236c8e",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "4da1c51b.eea26c",
        "type": "catch",
        "z": "747253ec.210a54",
        "name": "",
        "scope": null,
        "x": 100,
        "y": 140,
        "wires": [
            [
                "ba779ebf.906ad"
            ]
        ]
    },
    {
        "id": "ba779ebf.906ad",
        "type": "debug",
        "z": "747253ec.210a54",
        "name": "log error",
        "active": true,
        "console": "true",
        "complete": "error",
        "x": 310,
        "y": 140,
        "wires": []
    },
    {
        "id": "fd4d19b8.ff0d28",
        "type": "subflow",
        "name": "error handling",
        "info": "",
        "in": [
            {
                "x": 64,
                "y": 61,
                "wires": [
                    {
                        "id": "595e324b.072574"
                    },
                    {
                        "id": "9bacadc0.9de588"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 60,
                "wires": [
                    {
                        "id": "595e324b.072574",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "595e324b.072574",
        "type": "function",
        "z": "fd4d19b8.ff0d28",
        "name": "check",
        "func": "/* error codes */\nvar errorCodes = {\n    '7' : {'title': 'Invalid credentials', 'detail': 'Invalid Apple ID'},\n    '1' : {'title': 'Invalid credentials',  'detail': 'Invalid password'},\n    'Error: getaddrinfo EAI_AGAIN p42-remindersws.icloud.com:443': \n        {'title': 'Connection error',  'detail': 'Unable to connect to iCloud'},\n    'Error: getaddrinfo EAI_AGAIN setup.icloud.com:443': \n        {'title': 'Connection error',  'detail': 'Unable to connect to iCloud'}\n};\n\n/* function to create error messages */\nfunction createErrorMessage(status, source, title, detail) {\n    var response = {};\n    response.statusCode = status;\n    response.req = msg.req;\n    response.res = msg.res;\n    response.ldm = msg.ldm;\n\n    response.ldm.process.finished = true;\n\n    var error = {\n        \"status\": status,\n        \"source\": { \"pointer\": source },\n        \"title\": errorCodes[detail] ? errorCodes[detail].title : title,\n        \"detail\": errorCodes[detail] ? errorCodes[detail].detail : detail\n    };\n\n    var errors = [];\n    errors.push(error);\n    \n    response.payload = {\n        \"errors\": errors\n    };\n\n    return response;\n}\n\nif (msg.statusCode === 200) {\n    /* HTTP status code 200 OK */\n    \n    /* recreate message from input */\n    var responseOk = {};\n    responseOk.req = msg.req;\n    responseOk.res = msg.res;\n    responseOk.headers = msg.headers;\n    responseOk.payload = msg.payload;\n    responseOk.ldm = msg.ldm;\n    \n    /* check whether payload is filled */\n    if (responseOk.payload !== '') {\n        return[responseOk, null, null];\n    } else {\n        /* Since a JSON object cannot be created from\n           an empty string, the message is passed on to\n           terminal two. */\n        responseOk.req = msg.req;\n        responseOk.res = msg.res;\n        responseOk.ldm = msg.ldm;\n        \n        return[responseOk, null, null];\n    }\n} else if(msg.statusCode &&\n          Number.isInteger(msg.statusCode) &&\n          msg.statusCode !== 200) {\n    /* HTTP status codes */\n\n    /* \n     * elements:\n     *\n     * msg.payload, e.g. \"{\"error\":7}\"\n     * msg.statusCode, e.g. 403\n     * msg.responseUrl, e.g. \"https://setup.icloud.com/setup/ws/1/login\"\n     */\n     if(msg.payload.errors) {\n        /* in case an errors object exists ... */ \n        return[null, msg];\n     } else {\n         var errorResponse = createErrorMessage(\n                                msg.statusCode,\n                                msg.responseUrl,\n                                msg.payload,\n                                msg.payload.error);\n\n         return[null, errorResponse, null];\n     }\n} else if(msg.error) {\n    /* error object - mostly from catch node */\n\n    /* \n     * elements:\n     *\n     * msg.error.message, e.g. \"ReferenceError: a is not defined (line 4, col 4)\"\n     * msg.error.source.id, e.g. \"60c342f9.7acd6c\"\n     * msg.error.source.type, e.g. \"function\"\n     * msg.error.source.name, e.g. \"set message\"\n     * msg.error.source.count, e.g. 1\n     */\n    var errorResponse = createErrorMessage(\n                            500,\n                            msg.error.source.type + ' ' + msg.error.source.name,\n                            'Error in ' + msg.error.source.type + ' ' + msg.error.source.name,\n                            msg.error.message);\n\n    return[null, errorResponse, null];\n} else if (!msg.statusCode &&\n           isNaN(msg.statusCode)) {\n    /* do nothing */\n} else {\n    /* something unexpected happened */\n    var errorResponse = createErrorMessage(\n                            500,\n                            'Error handling',\n                            'Unexpected',\n                            'An error that has not been handled properly has occurred. ' +\n                            'Analyse the error and provide a proper error handling for this case.');\n\n    return[null, null, errorResponse];\n}",
        "outputs": "3",
        "noerr": 0,
        "x": 210,
        "y": 60,
        "wires": [
            [
                "3b615dca.4c3432"
            ],
            [
                "3b615dca.4c3432",
                "2c260c2.371a874"
            ],
            [
                "3b615dca.4c3432"
            ]
        ]
    },
    {
        "id": "3b615dca.4c3432",
        "type": "subflow:747253ec.210a54",
        "z": "fd4d19b8.ff0d28",
        "name": "logging",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
        "id": "db7144bf.863398",
        "type": "catch",
        "z": "fd4d19b8.ff0d28",
        "name": "",
        "scope": null,
        "x": 100,
        "y": 300,
        "wires": [
            [
                "deb4b529.f59ba8"
            ]
        ]
    },
    {
        "id": "deb4b529.f59ba8",
        "type": "debug",
        "z": "fd4d19b8.ff0d28",
        "name": "log error",
        "active": true,
        "console": "true",
        "complete": "error",
        "x": 310,
        "y": 300,
        "wires": []
    },
    {
        "id": "2c260c2.371a874",
        "type": "http response",
        "z": "fd4d19b8.ff0d28",
        "name": "",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "9bacadc0.9de588",
        "type": "subflow:747253ec.210a54",
        "z": "fd4d19b8.ff0d28",
        "x": 220,
        "y": 140,
        "wires": []
    },
    {
        "id": "15674b79.b9ce45",
        "type": "tab",
        "label": "get reminder lists"
    },
    {
        "id": "4aed6dd8.c5dc54",
        "type": "http in",
        "z": "15674b79.b9ce45",
        "name": "get reminder lists",
        "url": "/reminderlists",
        "method": "get",
        "swaggerDoc": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "a38e6ee1.0be49"
            ]
        ]
    },
    {
        "id": "a38e6ee1.0be49",
        "type": "function",
        "z": "15674b79.b9ce45",
        "name": "save input to LDM",
        "func": "var output = {};\noutput.req = msg.req;\noutput.res = msg.res;\noutput.payload = msg.payload;\n\n/* function to create error messages */\nfunction createErrorMessage(message) {\n    var errors = [];\n    var response = {};\n    response.req = msg.req;\n    response.res = msg.res;\n    response.statusCode = 400;\n    \n    var error = {\n        \"status\": 400,\n        \"source\": { \"pointer\": \"/reminderlists\" },\n        \"title\": 'Error while saving input to LDM',\n        \"detail\": message\n    };\n\n    errors.push(error);\n    \n    response.payload = {\n        \"errors\": errors\n    };\n\n    return response;\n}\n\n/* check input */\nif ((!msg.payload.appleId || msg.payload.appleId.length === 0) ||\n    (!msg.payload.password || msg.payload.password.length === 0)) {\n    /* appleId or password undefined or empty */\n    return [null, createErrorMessage('One or more elements are missing ' + \n                        '(appleId, password).')];\n}\n\n/* save input to LDM */\noutput.ldm = {\n    \"process\": {\n        \"trace\": [{\n            \"flow\": \"get reminder lists\",\n            \"step\": \"save input to LDM\",\n            \"timestamp\": new Date().getTime()\n        }],\n        \"durationInMs\": null\n    },\n    \"header\" : {\n        \"origin\": \"https://www.icloud.com\",\n        \"userAgent\": \"node-red-icloud/1.2.0 (Node-RED)\",\n        \"appleId\": msg.req.query.appleId,\n        \"password\": msg.req.query.password,\n        \"list\": null,\n        \"sessionCookie\": null,\n        \"remindersurl\": null,\n        \"languageCode\": null,\n        \"dsid\": null,\n    \t\"usertz\": null\n    },\n    \"tasklist\": []\n};\n\nreturn [output, null];",
        "outputs": "2",
        "noerr": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "1af24e66.984542",
                "e7171324.f5f548"
            ],
            [
                "6060441a.8b35c4"
            ]
        ]
    },
    {
        "id": "592a20f.3405b6",
        "type": "function",
        "z": "15674b79.b9ce45",
        "name": "prepare response",
        "func": "/* recreate message from input */\nvar response = {};\nresponse.req = msg.req;\nresponse.res = msg.res;\nresponse.ldm = msg.ldm;\n\n/* set values for tracing */\nvar trace = {\n    \"flow\": \"get reminder lists\",\n    \"step\": \"prepare response\",\n    \"timestamp\": new Date().getTime()\n};\nresponse.ldm.process.trace.push(trace);\n\nif (!msg.ldm.process.errors) {\n    response.payload = {};\n    response.payload.taskslists = msg.ldm.tasklist;\n} else {\n    response.payload = msg.ldm.process.errors;\n}\n\n/* determine process duration */\nresponse.ldm.process.durationInMs = \n    msg.ldm.process.trace[msg.ldm.process.trace.length - 1].timestamp - msg.ldm.process.trace[0].timestamp;\n\nresponse.headers = {\n    \"Access-Control-Allow-Origin\": '*'\n};\n\nreturn response;",
        "outputs": 1,
        "noerr": 0,
        "x": 1410,
        "y": 140,
        "wires": [
            [
                "603c6bce.f473fc",
                "8989a4e5.0d8a1"
            ]
        ]
    },
    {
        "id": "49842851.80fe9",
        "type": "comment",
        "z": "15674b79.b9ce45",
        "name": "version 1.2",
        "info": "version 1.0: initial version\nversion 1.1: added check for appleId and password in 'save input to LDM'\n             added logging and exception handling\nversion 1.2: refactoring of error handling",
        "x": 100,
        "y": 60,
        "wires": []
    },
    {
        "id": "603c6bce.f473fc",
        "type": "http response",
        "z": "15674b79.b9ce45",
        "name": "get reminder lists response",
        "x": 1700,
        "y": 140,
        "wires": []
    },
    {
        "id": "ff2a0d2.faa0df",
        "type": "subflow:fd4d19b8.ff0d28",
        "z": "15674b79.b9ce45",
        "name": "",
        "x": 880,
        "y": 140,
        "wires": [
            [
                "2ec4baf4.a394c6"
            ]
        ]
    },
    {
        "id": "1af24e66.984542",
        "type": "subflow:747253ec.210a54",
        "z": "15674b79.b9ce45",
        "name": "",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "e7171324.f5f548",
        "type": "http request",
        "z": "15674b79.b9ce45",
        "name": "call session cache",
        "method": "POST",
        "ret": "obj",
        "url": "http://127.0.0.1:1880/icloud/login",
        "tls": "",
        "x": 630,
        "y": 140,
        "wires": [
            [
                "ff2a0d2.faa0df"
            ]
        ]
    },
    {
        "id": "2ec4baf4.a394c6",
        "type": "function",
        "z": "15674b79.b9ce45",
        "name": "save response to LDM",
        "func": "/* recreate message from input */\nvar output = {};\noutput.req = msg.req;\noutput.res = msg.res;\noutput.ldm = {\n    \"process\": msg.ldm.process,\n    \"header\": msg.payload.header,\n    \"tasklist\": msg.payload.tasklist\n};\n\n/* set values for tracing */\nvar trace = {\n    \"flow\": \"get reminder lists\",\n    \"step\": \"save response to LDM\",\n    \"timestamp\": new Date().getTime()\n};\noutput.ldm.process.trace.push(trace);\n\nreturn output;",
        "outputs": 1,
        "noerr": 0,
        "x": 1140,
        "y": 140,
        "wires": [
            [
                "592a20f.3405b6",
                "18daea23.480d06"
            ]
        ]
    },
    {
        "id": "57e885a7.8f8c0c",
        "type": "catch",
        "z": "15674b79.b9ce45",
        "name": "",
        "scope": null,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "5eb45ad1.549074"
            ]
        ]
    },
    {
        "id": "5eb45ad1.549074",
        "type": "subflow:fd4d19b8.ff0d28",
        "z": "15674b79.b9ce45",
        "x": 320,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "18daea23.480d06",
        "type": "subflow:747253ec.210a54",
        "z": "15674b79.b9ce45",
        "x": 1380,
        "y": 220,
        "wires": []
    },
    {
        "id": "8989a4e5.0d8a1",
        "type": "subflow:747253ec.210a54",
        "z": "15674b79.b9ce45",
        "x": 1640,
        "y": 220,
        "wires": []
    },
    {
        "id": "6060441a.8b35c4",
        "type": "subflow:fd4d19b8.ff0d28",
        "z": "15674b79.b9ce45",
        "name": "",
        "x": 620,
        "y": 300,
        "wires": [
            []
        ]
    }
]