src/reminders/getReminderLists.json
[
    {
        "id": "747253ec.210a54",
        "type": "subflow",
        "name": "logging",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "f2abfe1d.5032a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 608,
                "y": 102,
                "wires": [
                    {
                        "id": "747253ec.210a54",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "87179522.310ed8",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "7bb677c2.e16998",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* \n * configure logging\n */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "65741c34.9d2ab4",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "7cf41d7.fc7efe4",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "3cdf500c.7ea138",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* configure logging */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\n/* function to replace plaintext\n   The list contains elements which should be replaced. */\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "4221290d.7176a",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "fee878cd.8978a8",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "365758fe.e5548",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* \n * configure logging\n */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "e04a7ce8.842ac",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "2b898726.4dc9d",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "be2332a8.9a2b7",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* configure logging */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\n/* function to replace plaintext\n   The list contains elements which should be replaced. */\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "837f3290.196c28",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "d7f7f72b.ef513",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "ab1467c9.fa1508",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* \n * configure logging\n */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "28776e8d.427fe2",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "66f59636.b9a47",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "c9a924a1.31168",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* configure logging */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\n/* function to replace plaintext\n   The list contains elements which should be replaced. */\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "7920d58f.bd6404",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "5f0e9a05.7b0514",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "1e0c800d.c8d6d",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* \n * configure logging\n */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "c2c3d734.0cd568",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "9d347e5e.bf559",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "f2abfe1d.5032a",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* configure logging */\nvar logging = false;\nvar filename = '/home/hendrik/node-red-icloud';\n/* define properties which values should not be logged as plaintext */\nvar list = ['appleId', 'apple_id', 'password'];\n\nif (!logging) {\n    return;\n}\n\n/* function to replace plaintext\n   The list contains elements which should be replaced. */\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== 'undefined' && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = 'xxx';\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar timestamp = {\n    \"filename\" : filename\n};\n\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    ' [' + \n    msg.ldm.process.trace[msg.ldm.process.trace.length - 1].step +\n    ']: ';\n\nvar logMessage = {\n    \"filename\" : filename\n};\n\nlogMessage.payload = {\n    \"url\" : msg.url,\n    \"statuscode\" : msg.statusCode,\n    \"headers\" : msg.headers,\n    \"payload\" : replacePlaintext(msg, list)\n};\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "114669e9.ec3c8e",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "747253ec.210a54",
        "type": "subflow",
        "name": "logging",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "f2abfe1d.5032a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 608,
                "y": 102,
                "wires": [
                    {
                        "id": "747253ec.210a54",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "87179522.310ed8",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "7bb677c2.e16998",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* \n * configure logging\n */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "65741c34.9d2ab4",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "7cf41d7.fc7efe4",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "3cdf500c.7ea138",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* configure logging */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\n/* function to replace plaintext\n   The list contains elements which should be replaced. */\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "4221290d.7176a",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "fee878cd.8978a8",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "365758fe.e5548",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* \n * configure logging\n */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "e04a7ce8.842ac",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "2b898726.4dc9d",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "be2332a8.9a2b7",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* configure logging */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\n/* function to replace plaintext\n   The list contains elements which should be replaced. */\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "837f3290.196c28",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "d7f7f72b.ef513",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "ab1467c9.fa1508",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* \n * configure logging\n */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "28776e8d.427fe2",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "66f59636.b9a47",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "c9a924a1.31168",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* configure logging */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\n/* function to replace plaintext\n   The list contains elements which should be replaced. */\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "7920d58f.bd6404",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "5f0e9a05.7b0514",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "1e0c800d.c8d6d",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* \n * configure logging\n */\nvar logging = false;\nvar filename = \"/home/nodered/node-red-icloud\";\n/* define properties which values should not be logged as plaintext */\nvar list = [\"appleId\", \"apple_id\", \"password\"];\n\nif (!logging) {\n    return;\n}\n\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== \"undefined\" && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = \"xxx\";\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar logMessage = {\"filename\":filename};\nlogMessage.payload = {\n    \"url\":msg.url,\n    \"statuscode\":msg.statusCode,\n    \"headers\":msg.headers,\n    \"payload\":replacePlaintext(msg.payload, list)\n};\n\nvar timestamp = {\"filename\":filename};\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    \" [\" + global.get(\"function\") + \"]: \";\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "c2c3d734.0cd568",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "9d347e5e.bf559",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "write log entry",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 462,
        "y": 208,
        "wires": []
    },
    {
        "id": "f2abfe1d.5032a",
        "type": "function",
        "z": "747253ec.210a54",
        "name": "prepare log entry",
        "func": "/* configure logging */\nvar logging = false;\nvar filename = '/home/hendrik/node-red-icloud';\n/* define properties which values should not be logged as plaintext */\nvar list = ['appleId', 'apple_id', 'password'];\n\nif (!logging) {\n    return;\n}\n\n/* function to replace plaintext\n   The list contains elements which should be replaced. */\nfunction replacePlaintext(payload, list) {\n    var k;\n\n    for (k in list) {\n        if (typeof payload !== 'undefined' && payload !== null) {\n            if(payload.hasOwnProperty(list[k])) {\n                payload[list[k]] = 'xxx';\n            }\n        }\n    }\n\n    /* TODO: insert code to replace property values on levels deeper than 1 */\n    \n    return payload;\n}\n\nvar timestamp = {\n    \"filename\" : filename\n};\n\ntimestamp.payload = '\\r' +\n    new Date().toISOString() +\n    ' [' + \n    msg.ldm.process.trace[msg.ldm.process.trace.length - 1].step +\n    ']: ';\n\nvar logMessage = {\n    \"filename\" : filename\n};\n\nlogMessage.payload = {\n    \"url\" : msg.url,\n    \"statuscode\" : msg.statusCode,\n    \"headers\" : msg.headers,\n    \"payload\" : replacePlaintext(msg, list)\n};\n\nreturn [timestamp, logMessage];",
        "outputs": "2",
        "noerr": 0,
        "x": 232,
        "y": 173,
        "wires": [
            [
                "114669e9.ec3c8e"
            ],
            [
                "9d347e5e.bf559"
            ]
        ]
    },
    {
        "id": "114669e9.ec3c8e",
        "type": "file",
        "z": "747253ec.210a54",
        "name": "log timestamp",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 460,
        "y": 144,
        "wires": []
    },
    {
        "id": "fd4d19b8.ff0d28",
        "type": "subflow",
        "name": "error handling",
        "info": "",
        "in": [
            {
                "x": 45,
                "y": 169,
                "wires": [
                    {
                        "id": "595e324b.072574"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 723,
                "y": 169,
                "wires": [
                    {
                        "id": "28ac27ed.ecfe18",
                        "port": 0
                    },
                    {
                        "id": "595e324b.072574",
                        "port": 1
                    }
                ]
            },
            {
                "x": 723,
                "y": 226,
                "wires": [
                    {
                        "id": "aa380213.dcc9f8",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "595e324b.072574",
        "type": "function",
        "z": "fd4d19b8.ff0d28",
        "name": "check",
        "func": "/* check HTTP response code */\nif (msg.statusCode === 200) {\n    /* recreate message from input */\n    var responseOk = {};\n    responseOk.req = msg.req;\n    responseOk.res = msg.res;\n    responseOk.headers = msg.headers;\n    responseOk.payload = msg.payload;\n    responseOk.ldm = msg.ldm;\n    \n    /* check whether payload is filled */\n    if (responseOk.payload !== '') {\n        return[responseOk, null, null];\n    } else {\n        /* Since a JSON object cannot be created from\n           an empty string, the message is passed on to\n           terminal two. */\n        responseOk.req = msg.req;\n        responseOk.res = msg.res;\n        responseOk.ldm = msg.ldm;\n        \n        return[null, responseOk, null];\n    }\n} else {\n    /* recreate message from input */\n    var responseError = {}\n    responseError.req = msg.req;\n    responseError.res = msg.res;\n    responseError.ldm = msg.ldm;    \n    responseError.statusCode = msg.statusCode;\n\n    /* in case no HTTP response code is given */    \n    if (isNaN(msg.statusCode)) {\n        responseError.statusCode = 500;\n    }\n    \n    responseError.payload = msg.payload;\n\n    return[null, null, responseError];\n}",
        "outputs": "3",
        "noerr": 0,
        "x": 171,
        "y": 168,
        "wires": [
            [
                "28ac27ed.ecfe18"
            ],
            [
                "3b615dca.4c3432"
            ],
            [
                "aa380213.dcc9f8"
            ]
        ]
    },
    {
        "id": "3b615dca.4c3432",
        "type": "subflow:747253ec.210a54",
        "z": "fd4d19b8.ff0d28",
        "name": "logging",
        "x": 516,
        "y": 141.5,
        "wires": [
            []
        ]
    },
    {
        "id": "28ac27ed.ecfe18",
        "type": "json",
        "z": "fd4d19b8.ff0d28",
        "name": "",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "3b615dca.4c3432"
            ]
        ]
    },
    {
        "id": "aa380213.dcc9f8",
        "type": "json",
        "z": "fd4d19b8.ff0d28",
        "name": "",
        "x": 330,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "15674b79.b9ce45",
        "type": "tab",
        "label": "get reminder lists"
    },
    {
        "id": "4aed6dd8.c5dc54",
        "type": "http in",
        "z": "15674b79.b9ce45",
        "name": "get reminder lists",
        "url": "/reminderlists",
        "method": "get",
        "swaggerDoc": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "a38e6ee1.0be49"
            ]
        ]
    },
    {
        "id": "a38e6ee1.0be49",
        "type": "function",
        "z": "15674b79.b9ce45",
        "name": "save input to LDM",
        "func": "var output = {};\noutput.req = msg.req;\noutput.res = msg.res;\noutput.payload = msg.payload;\n\n/* function to create error messages */\nfunction createErrorMessage(message) {\n    var errors = [];\n    var response = {};\n    response.req = msg.req;\n    response.res = msg.res;\n    response.statusCode = 400;\n    \n    var error = {\n        \"status\": 400,\n        \"source\": { \"pointer\": \"/reminderlists\" },\n        \"title\": 'Error while saving input to LDM',\n        \"detail\": message\n    };\n\n    errors.push(error);\n    \n    response.payload = {\n        \"errors\": errors\n    };\n\n    return response;\n}\n\n/* check input */\nif ((undefined === msg.payload.appleId || msg.payload.appleId.length === 0) ||\n    (undefined === msg.payload.password || msg.payload.password.length === 0)) {\n    /* appleId or password undefined or empty */\n    return [null, createErrorMessage('One or more elements are missing ' + \n                        '(appleId, password).')];\n}\n\n/* save input to LDM */\noutput.ldm = {\n    \"process\": {\n        \"trace\": [{\n            \"step\": \"save input to LDM\",\n            \"timestamp\": new Date().getTime()\n        }],\n        \"durationInMs\": null\n    },\n    \"header\" : {\n        \"origin\": \"https://www.icloud.com\",\n        \"userAgent\": \"node-red-icloud/1.2.0 (Node-RED)\",\n        \"appleId\": msg.req.query.appleId,\n        \"password\": msg.req.query.password,\n        \"list\": null,\n        \"sessionCookie\": null,\n        \"remindersurl\": null,\n        \"languageCode\": null,\n        \"dsid\": null,\n    \t\"usertz\": null\n    },\n    \"tasklist\": []\n};\n\nreturn [output, null];",
        "outputs": "2",
        "noerr": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "1af24e66.984542"
            ],
            [
                "bcc50372.53467"
            ]
        ]
    },
    {
        "id": "592a20f.3405b6",
        "type": "function",
        "z": "15674b79.b9ce45",
        "name": "prepare response",
        "func": "/* recreate message from input */\nvar response = {};\nresponse.req = msg.req;\nresponse.res = msg.res;\nresponse.ldm = msg.ldm;\n\n/* set values for tracing */\nvar trace = {\n    \"step\": \"prepare response\",\n    \"timestamp\": new Date().getTime()\n};\nresponse.ldm.process.trace.push(trace);\n\nif (undefined === msg.ldm.process.errors) {\n    response.payload = {};\n    response.payload.taskslists = msg.ldm.tasklist;\n} else {\n    response.payload = msg.ldm.process.errors;\n}\n\nresponse.ldm.process.durationInMs = \n    msg.ldm.process.trace[msg.ldm.process.trace.length - 1].timestamp - msg.ldm.process.trace[0].timestamp;\n\nresponse.headers = {\n    \"Access-Control-Allow-Origin\": '*'\n};\n\nreturn response;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "b7bdff23.224468"
            ]
        ]
    },
    {
        "id": "49842851.80fe9",
        "type": "comment",
        "z": "15674b79.b9ce45",
        "name": "version 1.1",
        "info": "version 1.0: initial version\nversion 1.1: added check for appleId and password in 'save input to LDM'\n             added logging and exception handling",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "603c6bce.f473fc",
        "type": "http response",
        "z": "15674b79.b9ce45",
        "name": "get reminder lists response",
        "x": 720,
        "y": 700,
        "wires": []
    },
    {
        "id": "ff2a0d2.faa0df",
        "type": "subflow:fd4d19b8.ff0d28",
        "z": "15674b79.b9ce45",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "2ec4baf4.a394c6"
            ],
            [
                "603c6bce.f473fc"
            ]
        ]
    },
    {
        "id": "1af24e66.984542",
        "type": "subflow:747253ec.210a54",
        "z": "15674b79.b9ce45",
        "name": "",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "e7171324.f5f548"
            ]
        ]
    },
    {
        "id": "b7bdff23.224468",
        "type": "subflow:747253ec.210a54",
        "z": "15674b79.b9ce45",
        "x": 400,
        "y": 540,
        "wires": [
            [
                "603c6bce.f473fc"
            ]
        ]
    },
    {
        "id": "e7171324.f5f548",
        "type": "http request",
        "z": "15674b79.b9ce45",
        "name": "call session cache",
        "method": "POST",
        "ret": "txt",
        "url": "http://127.0.0.1:1880/icloud/login",
        "tls": "",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "ff2a0d2.faa0df"
            ]
        ]
    },
    {
        "id": "2ec4baf4.a394c6",
        "type": "function",
        "z": "15674b79.b9ce45",
        "name": "save response to LDM",
        "func": "/* recreate message from input */\nvar output = {};\noutput.req = msg.req;\noutput.res = msg.res;\noutput.ldm = {\n    \"process\": msg.ldm.process,\n    \"header\": msg.payload.header,\n    \"tasklist\": msg.payload.tasklist\n};\n\n/* set values for tracing */\nvar trace = {\n    \"step\": \"save response to LDM\",\n    \"timestamp\": new Date().getTime()\n};\noutput.ldm.process.trace.push(trace);\n\nreturn output;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "9db5b1a9.0267a8"
            ]
        ]
    },
    {
        "id": "9db5b1a9.0267a8",
        "type": "subflow:747253ec.210a54",
        "z": "15674b79.b9ce45",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "592a20f.3405b6"
            ]
        ]
    },
    {
        "id": "57e885a7.8f8c0c",
        "type": "catch",
        "z": "15674b79.b9ce45",
        "name": "",
        "scope": null,
        "x": 140,
        "y": 620,
        "wires": [
            [
                "a7cd76e5.d8681"
            ]
        ]
    },
    {
        "id": "a7cd76e5.d8681",
        "type": "function",
        "z": "15674b79.b9ce45",
        "name": "set exception",
        "func": "var response = {};\nresponse.req = null; //???\nresponse.res = null; //???\nresponse.ldm = null; //???\nresponse.payload = {};\nresponse.payload.errors = [];\n\nvar error = {\n    \"status\": 500,\n    \"source\": \"set exception\",\n    \"title\": msg.error.message,\n    \"detail\": msg.error.message\n};\n\nresponse.payload.errors.push(error);\n\nresponse.statusCode = 500;\n\n//node.error(msg.error.source.name);\n//node.error(msg.error.message);\n\nreturn response;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 700,
        "wires": [
            [
                "3abd2ed3.493ee2"
            ]
        ]
    },
    {
        "id": "3abd2ed3.493ee2",
        "type": "subflow:747253ec.210a54",
        "z": "15674b79.b9ce45",
        "x": 400,
        "y": 700,
        "wires": [
            [
                "603c6bce.f473fc"
            ]
        ]
    },
    {
        "id": "bcc50372.53467",
        "type": "subflow:747253ec.210a54",
        "z": "15674b79.b9ce45",
        "x": 400,
        "y": 227,
        "wires": [
            [
                "603c6bce.f473fc"
            ]
        ]
    }
]